

<strong>Patients Directory</strong>
<% @patients.each do |patient| %>
<br>
<a>Hospital ID:</a><%= patient.hospital_id %>
<br>
<%= patient.first_name %>
<%= patient.last_name %>
<br>
<%= patient.dob %>
<br>
<%= patient.description %>
<br>
<%= patient.gender %>
<br>
<%= patient.blood_type %>
<br>
<%= link_to 'Edit', edit_hospital_patient_path(@hospital, patient) %>
<%= link_to 'Destroy', hospital_patient_path(@hospital, patient), method: :delete %>
<br>

<% end %>
<br>
<%= link_to 'Back', hospitals_path %>